# macOS
.DS_Store

# Build output
/build
/dist
/out

# Dependencies
/node_modules

# Caches
**/.eslintcache
**/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
git add .
