.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global link styling */
a {
  color: #0066cc;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}

.nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.link {
  color: #0066cc;
  text-decoration: none;
  transition: all 0.2s ease;
}

.link:hover {
    color: red;
  font-weight: bold;
  text-decoration: underline;
}