.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global <a> tag styles */
.link {
  color: #0066cc;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
}

.link:hover {
  font-weight: bold;
  border-bottom: 1px solid #0066cc;
}

/* Nav link styles */
.nav-link,
.dropdown-link {
  color: black;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.2s ease;
}

.nav-link:hover,
.dropdown-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.active-link {
  font-weight: bold;
}
.link-hover-bold {
  font-weight: normal;
  color: #0066cc;
  text-decoration: none;
  transition: all 0.2s ease;
}

.link-hover-bold:hover {
  font-weight: bold;
}